snippet biocheck
	## Biographical Checklist

	Source                 Date Checked          Link
	-----------------    ----------------      -------- 
	Census (1860)
	Census SS (1860)
	Census (1870)
	County Tax Rolls
	Handbook
	Fold 3
	Google
	GBooks
	GScholar
	Worldcat
	LDL
	DLB
	TARO
